.menu {
  display: flex;
  height: 80vh;
}

html {
  background-image: url("Outras imagens/Outras imagens/fundo4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.menu-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item {
  display: flex;
  align-items: stretch; 
  margin-bottom: 40px;
  max-width: 600px;
}

.text {
  text-align: right;
  margin: 0 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 10px;
}

.text h3,
.text p {
  margin: 10px 0;
}

.menu-item img {
  max-width: 200px;
  height: 200px; 
  object-fit: cover; 
}

.button-container {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 10px;
}

.small-button {
  padding: 8px 16px;
  background-color: #053b03;
  color: #FCFFDE;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.small-button:hover {
  background-color: #FCFFDE;
  color: #053b03;
}